@import "tailwindcss";

@theme {
 --color-accent-blue: #1E88E5;
 --color-primario-bglight: #F5F7FA;
 --color-text90: #141414;
 --color-azul-claro: #D2E4FF;
 --font-inter: "Inter", sans-serif;
 --text-btn: 24px;
 --text-tituloproyecto: 32px;
 --text-descripciondelproyecto: 20px;
 --text-cajatecnologia: 10px;
}