@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-accent-blue: #1E88E5;
    --color-primario-bglight: #F5F7FA;
    --color-text90: #141414;
    --color-azul-claro: #D2E4FF;
    --color-placeholder: rgb(20, 20, 20, 0.50);
    --font-inter: "Inter", sans-serif;
    --text-hero: 64px;
    --text-btn: 24px;
    --text-tituloproyecto: 32px;
    --text-descripciondelproyecto: 20px;
    --text-cajatecnologia: 10px;
    }

@variant dark {
    --color-accent-blue: #1B3957;
    --color-primario-bglight: #0D1117;
    --color-text90:      #EDEDED;
    --color-azul-claro: #D2E4FF;
    --color-placeholder: rgb(237 237 237 / 0.35);
    }

@layer utilities {
  .dark .bg-white {
    background-color: #161B22;        
  }
}